---
import Products from "@components/home/Products.astro"
import Location from "@components/home/Location.astro"
import Gallery from "@components/home/Gallery.astro"
import Contact from "@components/home/Contact.astro"
import Warning from "@components/Warning.astro"

import TextOverImage from '@components/TextOverImage.astro';

import outils from "@assets/images/outils2.jpg"
import logoNathalie from "@assets/images/logonathalie.png"

import Layout from '../layouts/Layout.astro';
import general from "@content/general.json"

const {title:titleSite}=general
---

<Layout title={titleSite}>
	<main>
		<Warning />
		<header>
			<h1 class="hidden">Légumes Nath'urels</h1>
			<TextOverImage bgImage={outils} logoImage={logoNathalie}>
			</TextOverImage>
		</header>

		<section>
			<Products />
		</section>

		<section>
			<Location />
		</section>


		<section>
			<Gallery />
		</section>

		<section>
			<Contact />
		</section>

		<footer>
			<div class="bg-primary">
				<div class="container mx-auto text-light py-16 mt-8 text-center">
					Réalisation Fabien Grignoux
				</div>
			</div>
		</footer>
	</main>
</Layout>

