---
const{bgImage}=Astro.props;
---

<div style={`background-image:url('${bgImage.src}')`}>
    <div
        class=" flex items-center justify-center text-white h-full w-full"
    >
        <div class="container">
            <slot name="content" />
        </div>
    </div>
</div>